<div class="w-full max-h-full p-6">
  <div class="flex flex-col">
      <div class="header">
          <h2 class="text-4xl font-semibold">
             Productos
          </h2>
      </div>

          <div class="flex flex-wrap gap-6 h-full mt-9 align-middle items-center mb-9">
              <div class="flex flex-none gap-3 h-7">
                  <label>Num. :</label>
                  <input type="number" class="border border-black rounded-md p-1">
              </div>
              <div class="flex flex-none gap-3 h-7">
                <label>Nombre:</label>
                <input type="text" class="border border-black rounded-md p-1">
             </div>
             <div class="flex flex-none gap-3 h-7">
              <label>Proveedor:</label>
              <input type="text" class="border border-black rounded-md p-1">
             </div>
              <div class="flex flex-none gap-3 h-7">
                  <label>Responsable:</label>
                  <input type="text" class="border border-black rounded-md p-1" >
              </div>
              <div class="flex-none">
                  <button class="border border-black bg-blue-600 w-14 rounded-md h-12 p-2 mr-3 hover:bg-blue-500" >
                      <mat-icon class="text-white font-extrabold text-center">search</mat-icon>
                  </button>

                  <button class="border border-black bg-red-700 w-14 rounded-md h-12 p-2 hover:bg-red-600" >
                      <mat-icon class="text-white font-extrabold text-center">close</mat-icon>
                  </button>
              </div>

          </div>

<div class="mat-elevation-z5 w-[96%] p-5">
  <table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Num. Identificacion </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container> -->

    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef> Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
    </ng-container>

    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef> Responsable </th>
      <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
    </ng-container>

    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef> Observaciones </th>
      <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

</div>
