  <!-- Barra de navegación vertical en el lado izquierdo -->
  <nav class="h-screen sticky top-0 z-20 w-[18rem] bg-white shadow-md flex flex-col justify-between">
    <div>
      <!-- Logo o nombre de la app -->
      <h1 class="text-3xl font-bold mb-5 font-serif p-4">Gestor de Fallas</h1>

      <!-- Enlaces de navegación -->
      <a routerLink="/home" class="flex items-center text-gray-700 px-4 py-3  mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <mat-icon fontIcon="home"></mat-icon>
        <span class="text-lg font-medium ml-4">Inicio</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18M3 17h18"></path>
        </svg>
        <span class="text-lg font-medium">Buscar</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18M3 17h18"></path>
        </svg>
        <span class="text-lg font-medium">Explorar</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18M3 17h18"></path>
        </svg>
        <span class="text-lg font-medium">Reels</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18M3 17h18"></path>
        </svg>
        <span class="text-lg font-medium">Mensajes</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18M3 17h18"></path>
        </svg>
        <span class="text-lg font-medium">Notificaciones</span>
      </a>

      <a href="/home" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
        </svg>
        <span class="text-lg font-medium">Crear</span>
      </a>

      <a href="/profile" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A10 10 0 1112 2a10 10 0 01-6.879 15.804z"></path>
        </svg>
        <span class="text-lg font-medium">Perfil</span>
      </a>
    </div>

    <div>

      <a (click)="logout()" class="flex items-center cursor-pointer text-gray-700 px-4 py-4 hover:bg-gray-700 hover:text-zinc-200 text-lg font-medium"  >
        <svg class="w-6 mr-3 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7"></path>
        </svg>
        Logout
      </a>
    </div>

  </nav>


