<div class="h-full flex gap-4 overflow-auto">
  <!-- Barra de navegación vertical en el lado izquierdo -->
  <nav class="flex-none sticky top-0  w-[18rem] bg-white shadow-slate-500 shadow-md flex flex-col justify-between">
    <div>
      <!-- Logo o nombre de la app -->
      <h1 class="text-3xl font-bold mb-5 font-serif p-4">Gestor de Fallas</h1>

      <!-- Enlaces de navegación -->
      <a routerLink="/home" class="flex items-center text-gray-700 px-4 py-3  mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <mat-icon fontIcon="home"></mat-icon>
        <span class="text-lg font-medium ml-4">Inicio</span>
      </a>

      <a href="/perfil" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
       <mat-icon fontIcon="manage_accounts"></mat-icon>
        <span class="text-lg font-medium ml-4">Perfil</span>
      </a>

      <a href="/proveedores" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <mat-icon fontIcon="store"></mat-icon>
        <span class="text-lg font-medium ml-4">Proveedores</span>
      </a>

      <a href="/trabajadores" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
       <mat-icon fontIcon="engineering"></mat-icon>
        <span class="text-lg font-medium ml-4">Trabajadores</span>
      </a>

      <a href="/producto" class="flex items-center text-gray-700 px-4 py-3 mb-3 hover:bg-gray-700 hover:text-zinc-200">
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
        </svg>
        <span class="text-lg font-medium">Agregar Producto</span>
      </a>

    </div>
    <div>

      <a (click)="logout()" class="flex items-center cursor-pointer text-gray-700 px-4 py-4 hover:bg-gray-700 hover:text-zinc-200 text-lg font-medium"  >
        <svg class="w-6 mr-3 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7"></path>
        </svg>
        Logout
      </a>
    </div>


  </nav>

  <div class="flex-auto">
    <router-outlet></router-outlet>
  </div>
</div>
